@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rokkitt";
  src: url("../fonts/Rokkitt-Regular.woff2") format("woff2"), url("../fonts/Rokkitt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
}

button {
  border: unset;
  border-radius: unset;
  background-color: unset;
  padding: 0px;
}

a {
  color: black;
  text-decoration-line: none;
}

img {
  max-width: 100%;
  display: block;
}

.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .info-text h1, .sneakers-block .sneaker-card__container p, .settings-block input[value=Apply], .settings-block h2 {
  font-family: "Montserrat";
  font-weight: 500;
}

.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .add-to-bag-block .sizes-block__container .size-button, .info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .add-to-bag-block .sizes-block > p, .info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .info-text p, .info-sneakers-block__container .modal-sneaker-card > p, .sneakers-block .sneaker-card__container .price-sneaker p, .settings-block .form-settings__input label, .settings-block .form-settings__block p {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
}

.shop-section .name-shop-block p {
  font-family: "Rokkitt";
  font-weight: normal;
  font-style: normal;
}

.info-sneakers-block__container .modal-sneaker-card > p::after {
  position: absolute;
  bottom: 0px;
  right: 0px;
  content: "";
  width: 25%;
  height: 2px;
  background-color: black;
  transition: 0.3s;
}
.info-sneakers-block__container .modal-sneaker-card > p:hover::after {
  width: 100%;
}
.info-sneakers-block__container .modal-sneaker-card > p:focus::after {
  width: 100%;
}

.svg-shop-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-shop-name svg {
  width: 100%;
}

.shop-section {
  width: 100%;
  min-height: 100vh;
}
.shop-section .burger-menu {
  width: 101vw;
}
.shop-section .name-shop-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-section .name-shop-block p {
  font-size: clamp(5rem, -1rem + 7.5vw, 8rem);
  letter-spacing: 49px;
  line-height: 110%;
  opacity: 0.05;
}

.products-block__container {
  display: flex;
  flex-direction: row;
  padding: 0px 3vw 50px;
}

.filter-block {
  position: sticky;
  top: 20px;
  width: 20%;
  height: 100%;
}
.filter-block__container {
  padding: 20px 10px;
}

.settings-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.settings-block h2 {
  font-size: 2rem;
  text-align: center;
}
.settings-block .form-settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.settings-block .form-settings__block {
  display: flex;
  flex-direction: column;
}
.settings-block .form-settings__block p {
  font-size: 1.5rem;
  text-decoration: underline;
}
.settings-block .form-settings__input {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  gap: 10px;
}
.settings-block .form-settings__input input[type=checkbox] {
  width: 19px;
  height: 19px;
  border-radius: 5px;
}
.settings-block .form-settings__input label {
  font-size: 1rem;
}
.settings-block input[type=submit] {
  width: 60%;
  height: 40px;
  background-color: black;
  border-radius: 50px;
}
.settings-block input[value=Apply] {
  color: white;
  font-size: 1rem;
}

.sneakers-block {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  width: 100%;
}
.sneakers-block__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 30px;
}
.sneakers-block .sneaker-card {
  width: 280px;
  height: 320px;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 1px rgba(34, 60, 80, 0.1);
  transition: 0.3s;
}
.sneakers-block .sneaker-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 10px;
}
.sneakers-block .sneaker-card__container .image-sneaker {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 66%;
}
.sneakers-block .sneaker-card__container p {
  font-size: 1.25rem;
  text-align: center;
}
.sneakers-block .sneaker-card__container .price-sneaker p {
  font-size: 1.5rem;
}
.sneakers-block .sneaker-card:hover {
  box-shadow: 0px 0px 13px 1px rgba(0, 255, 0, 0.35);
}
.sneakers-block .sneaker-card-off {
  display: none;
}

.info-sneakers-block {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  overflow: hidden;
}
.info-sneakers-block__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.info-sneakers-block__container .modal-sneaker-card {
  position: relative;
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.info-sneakers-block__container .modal-sneaker-card > p {
  position: absolute;
  top: 34px;
  right: 30px;
  font-size: 1rem;
  opacity: 0.6;
  cursor: pointer;
}
.info-sneakers-block__container .modal-sneaker-card > p::after {
  opacity: 0.6;
}
.info-sneakers-block__container .modal-sneaker-card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.25% 4.2%;
  height: 100%;
}
.info-sneakers-block__container .modal-sneaker-card__container .preview-image-block {
  display: flex;
  align-items: center;
}
.info-sneakers-block__container .modal-sneaker-card__container .preview-image-block__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info-sneakers-block__container .modal-sneaker-card__container .preview-image-block__container .image-block {
  width: 3.64vw;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.info-sneakers-block__container .modal-sneaker-card__container .preview-image-block__container .image-block img {
  width: 100%;
  image-rendering: pixelated;
}
.info-sneakers-block__container .modal-sneaker-card__container .preview-image-block__container .image-block img :nth-child(1) {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.info-sneakers-block__container .modal-sneaker-card__container .viewed-image-block {
  display: flex;
}
.info-sneakers-block__container .modal-sneaker-card__container .viewed-image-block > img {
  object-fit: contain;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block {
  display: flex;
  width: 33.1%;
  flex-direction: column;
  justify-content: space-between;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .info-text h1 {
  font-size: 1.666667vw;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .info-text p {
  font-size: 0.833335vw;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .add-to-bag-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .add-to-bag-block .sizes-block > p {
  font-size: 2rem;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .add-to-bag-block .sizes-block__container {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 50% 50%;
  gap: 5px;
  gap: 5px;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .add-to-bag-block .sizes-block__container .size-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  padding: 0.25em 0.75em;
  border: 1px solid black;
  border-radius: 10px;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .add-to-bag-block .bag-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .add-to-bag-block .bag-buttons .bag-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 62px;
  background: black;
  border-radius: 40px;
  gap: 15px;
}
.info-sneakers-block__container .modal-sneaker-card__container .info-model-sneaker-block .add-to-bag-block .bag-buttons .bag-button p {
  font-size: 1.5rem;
  color: white;
}

.modal-visible {
  display: block;
}

/*# sourceMappingURL=styles-shop.css.map */